* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loginForm {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("login_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(247, 246, 160);
}
